{
  "root": true,
  "plugins": [
    "@typescript-eslint",
    "react-hooks"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "env": {
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "@typescript-eslint/no-use-before-define": [
      "error",
      { "functions": false, "classes": false }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.config.js",
        "webpack.*.js",
        "__jest__/*.js"
      ],
      "env": {
        "node": true,
        "browser": false
      },
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-var-requires": "off",
        "no-console": "off"
      }
    }
  ]
}
