:root {
  --root-bg-color: white;
  --text-color: #182026;
  --pane-border-color: rgba(16, 22, 26, 0.15);
  --brick-label-color: rgb(136, 18, 128);
  --caret-color: #999;
  --source-code-color: rgb(33, 33, 33);
  --source-code-name: rgb(136, 19, 145);
  --source-code-primitive: rgb(28, 0, 207);
  --source-code-string: rgb(196, 26, 22);
  --source-code-gray: rgb(127, 127, 127);
  --source-code-object-prop-name: #565656;
  --source-code-type: #0f9960;
}

:root[data-theme="dark"] {
  --root-bg-color: rgb(32, 33, 36);
  --text-color: #f5f8fa;
  --pane-border-color: rgba(255, 255, 255, 0.15);
  --brick-label-color: rgb(93, 176, 215);
  --caret-color: #727272;
  --source-code-name: rgb(227, 110, 236);
  --source-code-primitive: hsl(252, 100%, 75%);
  --source-code-color: rgb(213, 213, 213);
  --source-code-string: rgb(233, 63, 59);
  --source-code-gray: rgb(128, 128, 128);
  --source-code-object-prop-name: rgb(169, 169, 169);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--root-bg-color);
}

#root {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.layout {
  width: 100%;
  height: 100%;
}

.panel {
  width: 100%;
  height: 100%;
  display: flex;
}

.layout * {
  box-sizing: border-box;
}

.evaluations-panel,
.transformations-panel {
  flex-direction: column;
}

.tree-wrapper,
.selected-brick-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.selected-brick-wrapper {
  border-left: 1px solid var(--pane-border-color);
}

.evaluations-toolbar,
.transformations-toolbar,
.tree-toolbar,
.selected-brick-toolbar {
  padding: 10px;
  border-bottom: 1px solid var(--pane-border-color);
  flex: 0 0 50px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-group {
  display: flex;
  align-items: center;
}

.toolbar-group > *:not(:last-child) {
  margin-right: 10px;
}

.tree-toolbar .bp3-control,
.evaluations-toolbar .bp3-control,
.transformations-toolbar .bp3-control {
  margin-bottom: 0;
  font-size: 12px;
}

.brick-tree,
.prop-view,
.table-view {
  flex: 1 0 auto;
  overflow: hidden;
  height: calc(100vh - 50px);
}

.scroll-container {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.source-code {
  font-family: Menlo, monospace;
}

.brick-title {
  color: var(--brick-label-color);
  font-size: 12px;
  font-family: Menlo, monospace;
}

.brick-title.includes-internal-bricks {
  color: var(--source-code-gray);
}

.brick-title.native {
  color: var(--text-color);
}

.brick-label .bp3-popover-wrapper {
  margin-left: 10px;
}

.bp3-tree-node-selected > .bp3-tree-node-content .brick-title {
  color: #f5f8fa;
}

.prop-list {
  list-style: none;
  padding-left: 14px;
  margin: 0;
}

.prop-list,
.prop-item {
  font-size: 12px;
  color: var(--source-code-color);
}

.prop-item-label {
  cursor: default;
}

.prop-item-label > span > .bp3-icon {
  /* margin-top: -1px; */
  vertical-align: middle;
  color: var(--caret-color);
}

.prop-name {
  color: var(--source-code-name);
}

.prop-editable {
  font-size: 12px;
  margin: 10px 0 10px 18px;
  display: block;
  width: 90%;
}

.variable-string {
  color: var(--source-code-string);
}

.string-wrap .variable-string-full {
  white-space: pre-wrap;
  word-break: break-word;
}

.variable-function {
  font-style: italic;
}

.variable-primitive {
  color: var(--source-code-primitive);
}

.variable-nil {
  color: var(--source-code-gray);
}

.variable-internal-type {
  font-style: italic;
}

.variable-type {
  color: var(--source-code-type);
  font-style: italic;
}

.variable-prop-name {
  color: var(--source-code-object-prop-name);
  font-style: italic;
}

.variable-array-length {
  color: var(--source-code-gray);
}

.variable-unexpected {
  color: orange;
}

.table-view .bp3-html-table {
  width: 100%;
  table-layout: fixed;
  font-size: 12px;
}

.table-view .bp3-html-table,
.bp3-dark .table-view .bp3-html-table {
  border-bottom: 1px solid var(--pane-border-color);
}

.table-view td > .prop-list {
  padding-left: 0;
}

.bp3-code.error-message {
  color: #f5498b;
  font-size: inherit;
}

.inspect-inner-frame .bp3-html-select select,
.inspect-inner-frame .bp3-select select {
  color: #c87619;
}

.bp3-dark .inspect-inner-frame .bp3-html-select select,
.bp3-dark .inspect-inner-frame .bp3-select select {
  color: #ec9a3c;
}

.inspect-frame-unavailable .bp3-html-select select,
.inspect-frame-unavailable .bp3-select select {
  color: #abb3bf;
}

.bp3-dark .inspect-frame-unavailable .bp3-html-select select,
.bp3-dark .inspect-frame-unavailable .bp3-select select {
  color: #5f6b7c;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: sticky;
  top: 0;
  height: 50px;
  background-color: var(--root-bg-color);
  border-bottom: 1px solid var(--pane-border-color);
}
